

/* Slide Header Background for h2 (slide title) elements */


h2{
  font-family: var(--header-font-family), var(--header-font-family-fallback);
  font-weight: 600;
  color: var(--header-color);
  padding: 0rem 0px 0rem 0px;
  margin-top: 0;
  box-sizing: border-box;
}


.remark-slide-content.header_background {
  padding-top: 0rem;
}

.remark-slide-content {
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 10px;
  padding-bottom: 10px;
}



.hide-count .remark-slide-number {
  display: none;
}

.hide-count-title  .title-slide-number {
  display: none;
}



.remark-code-line-highlighted {
  background-color: var(--code-highlight-color);
}





/* Two-column layout */
.left-column {
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2, .left-column h3 {
  color: #1c525399;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #1c5253;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 0em;
}



.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right + * {
  clear: both;
}


img, video, iframe {
  max-width: 100%;
}


.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.remark-slide table thead th {
  border-bottom: 1px solid #ddd;
}
th, td {
  padding: 5px;
}

/* Slide Header Background for h1 elements */
.remark-slide-content.header_background > h1 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--header-background-color);
  color: var(--header-background-text-color);
  padding: 2rem 64px 1.5rem 64px;
  margin-top: 0;
  box-sizing: border-box;
}


.remark-slide-content.header_background {
  padding-top: 7rem;
}


.remark-inline-code{
  background: #F5F5F5; /* lighter */
/*  background: #e7e8e2;  darker */
  border-radius: 3px;
  padding: 4px;
}





.remark-slide-content.full-slide-fig{
  padding: 0px 0px 0px 0px;
  width: 100%;}
